<?xml version='1.0' encoding='utf-8'?>
<widget id="myfirstapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <icon src="www/img/icon.png" />
    <name>Łed</name>
    <description>My first mobile app</description>
    <author email="johnbrown@gmail.com" href="http://mypersonalwebsite.com">
		John Brown
	</author>
         <universal-links>
        <host name="https://crg2j.app.goo.gl/H3Ed" scheme="https" />
        <host name="test-cordova-e76a7.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback"/>
        </host>
        </universal-links>
        
    <platform name="android">
        <splash platform="android" qualifier="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
        <splash platform="android" qualifier="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
        <splash platform="android" qualifier="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
        <splash platform="android" qualifier="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
        <splash platform="android" qualifier="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
        <splash platform="android" qualifier="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
        <splash platform="android" qualifier="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
        <splash platform="android" qualifier="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
        <splash src="splash.png" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="AndroidLaunchMode" value="singleTask" />
    </platform>
    <plugin name="cordova-plugin-device" spec="2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-buildinfo" spec="~2.0.1" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="~0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~2.0.2" />
</widget>
